@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

img, video {
  max-width: 70%;
  height: auto;
}

.bg-\[\#1E5552\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 165 62 / 47%);
}